{# Dashboard for logged in user #}
{% extends 'base.html' %}
{% set page_title = _('Dashboard') %}

{% block body %}

{% if not repos %}
<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" aria-hidden="true">&times;</button>
    <h2>{{ _('To get started, add a Git repository containing fonts') }}</h2>
    <div class="row">
        <div class="col-md-6" style="padding:2em">
            <h4>{{ _('To add git repositories from your GitHub account, click the GitHub button.') }}</h4>
        </div>
        <div class="col-md-6" style="padding:2em">
            <h4>{{ _('To add one directly, enter its git clone URL.') }}
            {{ _('If a login is required, provide it in the clone string.') }}
            <a href='https://www.kernel.org/pub/software/scm/git/docs/git-clone.html#URLS'>{{ _('Learn more') }} <i class="fa fa-external-link"></i> </a></h4>
        </div>
    </div>

</div>
{% endif %}

<form class="form-inline" action="{{ url_for('settings.addclone') }}" method="POST">
<div class="col-md-6 col-xs-3">
  <a id="dashboardGithubButton" class="btn btn-primary" href="{{ url_for('settings.repos') }}"><i class="fa fa-github-alt"></i> </a>
</div>
<div class="col-md-6 col-xs-9">
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-code-fork"></i> </span>
    <input type="text" class="form-control" name="clone" placeholder="git://[login:password@]domain.tld[:port]/path/to/repo.git">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit" data-confirm="{{ _('Does this repository contain only works you have permission to modify (because you are the owner or it is licensed with an Open Source license)?') }}" data-title="{{ _('Confirm') }}">{{ _("Add Repository") }}</button>
    </span>
  </div><!-- /input-group -->
</div>
</form>
{% if repos %}
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12">

    <p></p>

    {% from 'macros/dashboard.html' import font_card with context%}
    {% for repo in repos -%}
      {{ font_card(repo) }}
    {% endfor %}
    </div>
    
  </div>
  
</div>

{% endif %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function() {
    // Make the dashboard table sortable

    var grandTotals = { "total": 0, "month": 0, "week": 0, "yesterday": 0, "rate": 0}

    $("#dashboard").tablesorter();

    $(".stat-total").each(function() { grandTotals.total += parseInt( $(this).html() ); });
    $(".stat-total-total").html(grandTotals.total);

    $(".stat-month").each(function() { grandTotals.month += parseInt( $(this).html() ); });
    $(".stat-month-total").html(grandTotals.month);

    $(".stat-week").each(function() { grandTotals.week += parseInt( $(this).html() ); });
    $(".stat-week-total").html(grandTotals.week);

    $(".stat-yesterday").each(function() { grandTotals.yesterday += parseInt( $(this).html() ); });
    $(".stat-yesterday-total").html(grandTotals.yesterday);

    $(".stat-rate").each(function() { grandTotals.rate += parseInt( $(this).html() ); });
    $(".stat-rate-total").html(grandTotals.rate);

    // Make the stats numbers prettyprinted
    $(".stats").number(true, 0, '.', ',');

/*
    guiders.createGuider({
        attachTo: "#dashboardGithubButton",
        buttons: [{name: "Close"}],
        description: "To get started, click this",
        id: "dashboardGithubButtonGuider",
        // overlay: true,
        position: 6,
        title: "Getting Started",
        width: 200
    }).show();
*/
});
</script>
{% endblock %}
